{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('style/form.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

	<main class="main">

		<div class="form-title">
			<h1 class="title">Register</h1>
		</div>

		<form class="form" method="post">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

			<div class="form-bg">
				<div class="form-content">
					{{ form_errors(registrationForm) }}

					{{ form_start(registrationForm) }}

					{# {{ form_row(registrationForm.email) }} #}

					<div class="form-group email">
						{{ form_label(registrationForm.email) }}
						<div class="form-input_bg">
							{{ form_widget(registrationForm.email, 
                                { 'attr': { placeholder: 'Email ...' } }
                            ) }}
						</div>
					</div>

					<div class="form-group text">
						{{ form_label(registrationForm.username) }}
						<div class="form-input_bg">
							{{ form_widget(registrationForm.username, 
                                { 'attr': { placeholder: 'Username ...' } }
                            ) }}
						</div>
					</div>

					<div class="form-row">
						<div class="form-group text">
							{{ form_label(registrationForm.firstname) }}
							<div class="form-input_bg">
								{{ form_widget(registrationForm.firstname, 
                                { 'attr': { placeholder: 'Firstname ...' } }
                            ) }}
							</div>
						</div>
						<div class="form-group text">
							{{ form_label(registrationForm.lastname) }}
							<div class="form-input_bg">
								{{ form_widget(registrationForm.lastname, 
                                { 'attr': { placeholder: 'Lastname ...' } }
                            ) }}
							</div>
						</div>
					</div>

					<div class="form-group date">

						{{ form_label(registrationForm.birthdate)}}
						{{ form_widget(registrationForm.birthdate)}}

					</div>

					<div class="form-group password">
						{{ form_label(registrationForm.plainPassword, 'Password') }}
						<div class="form-input_bg">
							{{ form_widget(registrationForm.plainPassword, 
                                { 'attr': { placeholder: 'Password ...' } }
                            ) }}
						</div>
					</div>


					<div class="form-group checkbox">
						{{ form_row(registrationForm.agreeTerms) }}
					</div>
				</div>
			</div>


			<div class="form-btns">
				<div class="form-btns_item">
					<button class="btn btn_prm" type="submit">
						Register
					</button>
					<a href="{{ path('app_login') }}">
						<button class='btn btn_sec' type="button">sign in</button>
					</a>
				</div>

				<a href="{{ path('app_home') }}">
					<button class='btn btn_thr btn_sm' type="button">back to home</button>
				</a>
			</div>
			{{ form_end(registrationForm) }}
		</form>

	</main>


{% endblock %}

