{% extends 'base.html.twig' %}

{% block title %}New Blog
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('style/form.css') }}" rel="stylesheet"/>
	<link href="{{ asset('style/blog-editor.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
	<script defer src="{{ asset('app/nav.js') }}"></script>
{% endblock %}

{% block body %}
	<main class="main">
		{% include "template_parts/_nav.html.twig" %}
		<header class="header">
			<div class="header-title">
				<h1 class="title">Blog Editor</h1>
			</div>
		</header>


		{{ include('blog/_form.html.twig') }}
		<a href="{{ path('app_blog_index') }}">back to list</a>

	</main>

{% endblock %}