{% extends 'base.html.twig' %}

{% block title %}User Manager
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('style/manager.css') }}" rel="stylesheet"/>

	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

{% endblock %}


{% block javascripts %}
	<script defer src="{{ asset('app/nav.js') }}"></script>

	<script defer src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
	<script defer src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
{% endblock %}

{% block body %}
	<main class="main">
		{% include "template_parts/_nav.html.twig" %}
		<header class="header">
			<div class="header-title">
				<h1 class="title bg">User manager</h1>
			</div>
		</header>

		<table class="table" data-toggle="table" data-search="true" data-pagination="true">
			<thead>
				<tr>
					<th class="title" data-field="id" data-sortable="true">Id</th>
					<th class="title" data-field="email" data-sortable="true">Email</th>
					<th class="title" data-field="username" data-sortable="true">Username</th>
					{# <th class="title">Roles</th> #}
					{# <th class="title">Password</th> #}
					<th class="title" data-field="firstame" data-sortable="true">Firstname</th>
					<th class="title" data-field="middlename" data-sortable="true">Middlename</th>
					<th class="title" data-field="lastname" data-sortable="true">Lastname</th>
					<th class="title" data-field="birthday" data-sortable="true">Birthdate</th>
					<th class="title" data-field="img" data-sortable="true">Img</th>
					<th class="title" data-field="created" data-sortable="true">Created</th>
					{# <th class="title">Bio</th> #}
					<th class="title">actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.username }}</td>
						{# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
						{# <td>{{ user.password }}</td> #}
						<td>{{ user.firstname }}</td>
						<td>{{ user.middlename }}</td>
						<td>{{ user.lastname }}</td>
						<td>{{ user.birthdate ? user.birthdate|date('m/d/Y') : '' }}</td>
						<td>{{ user.img }}</td>
						<td>{{ user.created ? user.created|date('m/d/Y H:i:s') : '' }}</td>
						{# <td>{{ user.bio }}</td> #}
						<td>
							<ul class="table-actions">
								<li class="table-actions_item">
									<a class="btn_edit" href="{{ path('app_user_edit', {'id': user.id}) }}">
										<svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
											<g clip-path="url(#clip0_753_217)">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M7.58302 1.43657C7.95338 0.776538 8.56298 0.29502 9.27782 0.0978502C9.99266 -0.0993195 10.7542 0.00399557 11.3952 0.385086L12.6056 1.10405C13.2462 1.48559 13.7136 2.11361 13.905 2.85004C14.0964 3.58648 13.9961 4.37107 13.6262 5.03137L8.04318 14.9935L3.45246 16L2 11.3987L7.58302 1.43657ZM10.6973 1.62979L11.9077 2.34875C12.228 2.53952 12.4617 2.85353 12.5574 3.22174C12.6531 3.58996 12.603 3.98226 12.418 4.31241L11.7201 5.55935L8.09334 3.40247L8.79122 2.15553C8.9764 1.82551 9.2812 1.58475 9.63862 1.48617C9.99604 1.38758 10.3768 1.43924 10.6973 1.62979ZM11.0223 6.80405L7.39547 4.64717L3.52006 11.5627L4.39241 14.3262L7.14685 13.7195L11.0223 6.80405Z"/>
											</g>
											<defs>
												<clipPath id="clip0_753_217">
													<rect width="16" height="16" fill="white"/>
												</clipPath>
											</defs>
										</svg>
									</a>
								</li>
								<li class="table-actions_item">
									{{ include('user/_delete_form.html.twig') }}
								</li>
							</ul>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="13">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>

{% endblock %}

