{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}
{% block stylesheets %}
	<link href="{{ asset('style/header-parallax.css') }}" rel="stylesheet"/>
	<link href="{{ asset('style/explore.css') }}" rel="stylesheet"/>
	<link href="{{ asset('style/form.css') }}" rel="stylesheet"/>
{% endblock %}
{% block javascripts %}
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
	<script defer src="{{ asset('app/parallax.js') }}"></script>
	<script defer src="{{ asset('app/nav.js') }}"></script>
{% endblock %}

{% block body %}
	<main>
		{% include "template_parts/_header_parallax.html.twig" %}
		{% include "template_parts/_nav.html.twig" %}

		<section class="filter">
			<div class="filter-content">
				<form method="post">
					{# {{ form_start(form) }} #}
					
					<div class="form-group text">
						{# {{ form_widget(form.text)}} #}
						<input name="text" type="text" placeholder="Search for ...">
					</div>
					<div class="form-group select">
						<label for="category">
							Category
						</label>
						<select name="category" id="category">
							<option value="null" default>All</option>
							<option value="1" default>Sport</option>
							<option value="2" default>Mountains</option>
							<option value="3" default>Life</option>
						</select>

					</div>
					<button class="btn">Search</button>

					{# {{ form_end(form) }} #}
				</form>
			</div>
		</section>

		<section class="blogs">
			<div class="blogs-content">

				{% for blog in blogs %}

					<div class="blogs-content_item">
						<div class="blog-item image">
							<img src="{{ asset('img/blogs/card/' ~ blog.img) }}"/>
						</div>
						<div class="blog-item">

							<h1 class="blog-title suptitle">{{ blog.title }}</h1>

							<p class="blog-text text">{{ blog.text }}
								...</p>

							<a class="blog-link" href="{{ path('app_explore_show', {'id': blog.id}) }}">
								<button class='btn btn_thr'>read more</button>

							</a>

							<ul class="blog-list">
								<li class="blog-list_item">
									<svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_753_229)">
											<path d="M13.6 16C13.6 16 15 16 15 14.6667C15 13.3333 13.6 9.33333 8 9.33333C2.4 9.33333 1 13.3333 1 14.6667C1 16 2.4 16 2.4 16H13.6ZM2.4308 14.6667C2.42046 14.6653 2.41018 14.6635 2.4 14.6613C2.4014 14.3093 2.6338 13.288 3.464 12.368C4.2368 11.5053 5.5948 10.6667 8 10.6667C10.4038 10.6667 11.7618 11.5067 12.536 12.368C13.3662 13.288 13.5972 14.3107 13.6 14.6613L13.5888 14.664C13.5823 14.665 13.5758 14.6659 13.5692 14.6667H2.4308ZM8 6.66667C8.74261 6.66667 9.4548 6.38572 9.9799 5.88562C10.505 5.38552 10.8 4.70724 10.8 4C10.8 3.29276 10.505 2.61448 9.9799 2.11438C9.4548 1.61428 8.74261 1.33333 8 1.33333C7.25739 1.33333 6.5452 1.61428 6.0201 2.11438C5.495 2.61448 5.2 3.29276 5.2 4C5.2 4.70724 5.495 5.38552 6.0201 5.88562C6.5452 6.38572 7.25739 6.66667 8 6.66667ZM12.2 4C12.2 4.52529 12.0914 5.04543 11.8803 5.53073C11.6692 6.01604 11.3599 6.45699 10.9698 6.82843C10.5798 7.19986 10.1168 7.4945 9.60727 7.69552C9.0977 7.89654 8.55155 8 8 8C7.44845 8 6.9023 7.89654 6.39273 7.69552C5.88316 7.4945 5.42016 7.19986 5.03015 6.82843C4.64014 6.45699 4.33077 6.01604 4.1197 5.53073C3.90863 5.04543 3.8 4.52529 3.8 4C3.8 2.93913 4.2425 1.92172 5.03015 1.17157C5.8178 0.421427 6.88609 0 8 0C9.11391 0 10.1822 0.421427 10.9698 1.17157C11.7575 1.92172 12.2 2.93913 12.2 4Z" fill="#EADB7C"/>
										</g>
										<defs>
											<clipPath id="clip0_753_229">
												<rect width="16" height="16" fill="white"/>
											</clipPath>
										</defs>
									</svg>

									<span>{{ blog.suptitle }}</span>
								</li>

								<li class="blog-list_item">
									<svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_753_224)">
											<path d="M8 3.5C8 3.36739 7.94732 3.24021 7.85355 3.14645C7.75979 3.05268 7.63261 3 7.5 3C7.36739 3 7.24021 3.05268 7.14645 3.14645C7.05268 3.24021 7 3.36739 7 3.5V9C7.00003 9.08813 7.02335 9.17469 7.06761 9.25091C7.11186 9.32712 7.17547 9.39029 7.252 9.434L10.752 11.434C10.8669 11.4961 11.0014 11.5108 11.127 11.4749C11.2525 11.4391 11.3591 11.3556 11.4238 11.2422C11.4886 11.1288 11.5065 10.9946 11.4736 10.8683C11.4408 10.7419 11.3598 10.6334 11.248 10.566L8 8.71V3.5Z" fill="#EADB7C"/>
											<path d="M8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 5.87827 15.1571 3.84344 13.6569 2.34315C12.1566 0.842855 10.1217 0 8 0C5.87827 0 3.84344 0.842855 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.84344 15.1571 5.87827 16 8 16ZM15 8C15 9.85652 14.2625 11.637 12.9497 12.9497C11.637 14.2625 9.85652 15 8 15C6.14348 15 4.36301 14.2625 3.05025 12.9497C1.7375 11.637 1 9.85652 1 8C1 6.14348 1.7375 4.36301 3.05025 3.05025C4.36301 1.7375 6.14348 1 8 1C9.85652 1 11.637 1.7375 12.9497 3.05025C14.2625 4.36301 15 6.14348 15 8Z" fill="#EADB7C"/>
										</g>
										<defs>
											<clipPath id="clip0_753_224">
												<rect width="16" height="16" fill="white"/>
											</clipPath>
										</defs>
									</svg>

									<span>{{ blog.created ? blog.created|date('d/m/Y') : '' }}</span>
								</li>

								<li class="blog-list_item">
									<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" height="1em" viewbox="0 0 448 512"><path d="M0 80V229.5c0 17 6.7 33.3 18.7 45.3l176 176c25 25 65.5 25 90.5 0L418.7 317.3c25-25 25-65.5 0-90.5l-176-176c-12-12-28.3-18.7-45.3-18.7H48C21.5 32 0 53.5 0 80zm112 32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" fill="#EADB7C"/></svg>

									<span>{{ blog.category.getTitle() }}</span>
								</li>


							</ul>
						</div>
					</div>

				{% else %}
				<div class="container">
					<h1 class="title">no records found</h1>
				</div>
				{% endfor %}

				<div class="btn_center">
					<a href="{{ path('app_explore') }}">
						<button class='btn btn_sec'>Load more</button>
					</a>
				</div>
			</div>
		</section>
	</main>
{% endblock %}

